/*--menu--*/
.cssmenu{
	float:right;
	padding-top: 0px;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color: #000;
	display: block;
	letter-spacing: 1px;
	font-size: 1.0em;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	margin: 12px 10px;
}
.cssmenu li.active> a, .cssmenu li> a:hover {
	color:#000;
	background:#ddcfc1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.banner {
    /* background-image: url('../images/banner2.jpg'); */
    background-color: blue;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    padding : 250px 0;
}

.carousel-item {
	background-color: gainsboro; /* Change this to your desired background color */
	color: #fff; /* Change this to your desired text color */
}

